html {
    background: #F6F6F6;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    padding: 0 !important;
    background: url("https://i.imgur.com/tN1g6zl.jpg");
    background-size: 1440px;
    font-family: covik-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 1.5;
    padding: 2em 2em 4em;
    overflow: hidden;
}

.bg {
  /* The image used */
  background-image: url("https://i.imgur.com/tN1g6zl.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:link   {
    font-family: 'Space Mono', monospace;
    font-size: 9 px;
    color: black;
    font-style: italic;
}

a:hover {
    color: azure;
    background-color: black;
}

background  {
    z-index: 0;
    top: 50%;
    left: 50%;
    height: 100vh;
    transform: translate(-50%, -50%);
}

.bottom-right   {
    position: fixed;
    bottom: 0px;
    right: -2px;
}

.bottom-left    {
    position: fixed;
    bottom: 0px;
    left: -3px;
}

.books-grid  {
    margin: auto;
    width: 70%;
}

.article-container  {
    margin: auto;
    width: 40%
}

.spacing {
    margin-bottom: 50px;
    width: 40%;
}

@font-face {
    font-family: 'ballpillmedium';
    src: url('ballpill-medium-webfont.woff2') format('woff2'),
         url('ballpill-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
    font-family: covik-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #222;
    line-height: 1.5;
}

h2 {
    margin-top: 1.3em;
}

hr {
  border: 0.3px dashed black;
  width:30%;
}

mark    {
    background-color: honeydew;
}

.quote  {
    font-family: 'Space Mono', monospace;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
}

.quote-small    {
    font-family: 'Space Mono', monospace;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: auto;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    display: block;
}

.next-page  {
    margin: 0em auto;
    border-radius: 0px;
}

.next-page:hover   {
    transition: transform 1s;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 40px 80px #E2F9A1;
}

.sticky  {
    z-index: 999999;
    margin: 0px auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 300px
    
}

.fixed  {
    z-index: 999999;
    position: -webkit-fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.the-room {
    position: relative;
}

.the-room-fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -50%);
}

.the-room:hover > *{
    transition: opacity .25s ease-in;
    -moz-transition: opacity .25s ease-in;
    -webkit-transition: opacity .25s ease-in;
    opacity: 0.4;
}

.the-room:hover > *:hover{
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    opacity: 1;
}

.disabled {
    pointer-events: none;
    opacity: 1;
}

.centered   {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -50%);   
}

.bookshelf {
    position: absolute;
    width: 84px;
    height: 130px;
    left: 31px;
    top: 258px;
}

.desk-area  {
    position: absolute;
    width: 172.68px;
    height: 123.18px;
    left: 123.19px;
    top: 257.11px;
}

.gaming-area    {
    position: absolute;
    width: 173.78px;
    height: 92.93px;
    left: 333.26px;
    top: 318.7px;    
}

.vending-machine    {
    position: absolute;
    width: 60.49px;
    height: 104.73px;
    left: 329.96px;
    top: 223.01px;
}

.chill-zone {
    position: absolute;
    width: 128.14px;
    height: 91.29px;
    left: 204.58px;
    top: 393.49px;
}

.flowers    {
    position: absolute;
    width: 89px;
    height: 65px;
    left: 233px;
    top: 234px;
}

.wallpaper  {
    position: absolute;
    width: 247px;
    height: 332px;
    left: 275px;
    top: 44px;
}

.wall-decor {
    position: absolute;
    width: 57px;
    height: 69px;
    left: 128px;
    top: 186px;
}

.fixed-about    {
    z-index: 999999;
    position: -webkit-fixed;
    position: fixed;
    top: 50%;
    width: 200px;
}

.fixed-about:hover  {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

.article-image   {
    transition: transform 1s;
    -webkit-transform: rotate(-7.11deg);
    -moz-transform: rotate(-7.11deg);
    -o-transform: rotate(-7.11deg);
    -ms-transform: rotate(-7.11deg);
    transform: rotate(-7.11deg);
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 20px 50px #C22727;
}

.article-image2 {
    transition: transform 1s;
    -webkit-transform: rotate(4.43deg);
    -moz-transform: rotate(4.43deg);
    -o-transform: rotate(4.43deg);
    -ms-transform: rotate(4.43deg);
    transform: rotate(4.43deg);
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 20px 50px #F19F9E;
}

.article-image3 {
    transition: transform 1s;
    -webkit-transform: rotate(-3.77deg);
    -moz-transform: rotate(-3.77deg);
    -o-transform: rotate(-3.77deg);
    -ms-transform: rotate(-3.77deg);
    transform: rotate(-3.77deg);
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 20px 50px #8C92FF;
}

.article-image4  {
    transition: transform 1s;
    -webkit-transform: rotate(7.77deg);
    -moz-transform: rotate(7.77deg);
    -o-transform: rotate(7.77deg);
    -ms-transform: rotate(7.77deg);
    transform: rotate(7.77deg);
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 20px 50px #FFD78C;
}

.article-image:hover   {
    transition: transform 1s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 00px #ccc;
    box-shadow: 0 0px 00px #E2F9A1;
}

.article-image2:hover   {
    transition: transform 1s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 00px #ccc;
    box-shadow: 0 0px 00px #E2F9A1;
}

.article-image3:hover   {
    transition: transform 1s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 00px #ccc;
    box-shadow: 0 0px 00px #E2F9A1;
}

.article-image4:hover   {
    transition: transform 1s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 00px #ccc;
    box-shadow: 0 0px 00px #E2F9A1;
}

.bookimage1   {
    margin-top: 0;
    width: 110px;
    transition: transform 1s;
    -webkit-transform: rotate(-7.11deg);
    -moz-transform: rotate(-7.11deg);
    -o-transform: rotate(-7.11deg);
    -ms-transform: rotate(-7.11deg);
    transform: rotate(-7.11deg);
    transition: box-shadow 1s;
}

.bookimage2   {
    margin-top: 0;
    width: 110px;
    transition: transform 1s;
    -webkit-transform: rotate(4.43deg);
    -moz-transform: rotate(4.43deg);
    -o-transform: rotate(4.43deg);
    -ms-transform: rotate(4.43deg);
    transform: rotate(4.43deg);
    transition: box-shadow 1s;
}

.bookimage4   {
    margin-top: 0;
    width: 110px;
    transition: transform 1s;
    -webkit-transform: rotate(-7.24deg);
    -moz-transform: rotate(-7.24deg);
    -o-transform: rotate(-7.24deg);
    -ms-transform: rotate(-7.24deg);
    transform: rotate(-7.24deg);
    transition: box-shadow 1s;
}

.bookimage3   {
    margin-top: 0;
    width: 110px;
    transition: transform 1s;
    -webkit-transform: rotate(-1.14deg);
    -moz-transform: rotate(-1.14deg);
    -o-transform: rotate(-1.14deg);
    -ms-transform: rotate(-1.14deg);
    transform: rotate(-1.14deg);
    transition: box-shadow 1s;
}

.bookimage1:hover   {
    transition: transform 1s;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 40px 80px #E2F9A1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.bookimage2:hover   {
    transition: transform 1s;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 40px 80px #E2F9A1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.bookimage3:hover   {
    transition: transform 1s;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 40px 80px #E2F9A1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.bookimage4:hover   {
    transition: transform 1s;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 40px 80px #E2F9A1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.booktitle {
    margin-top: 10px;
    color: #000000;
    font-family: covik-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 0px;
    padding-top: 30px;
}

.bookauthor  {
    color: 999999;
    font-family: covik-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 0px;
}

.article-title  {
    font-family: 'Space Mono', monospace;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 1px;
}

.grid-container  {
    dislay: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    padding: 10px;
}

.grid-item   {
    background-color: antiquewhite;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.year-column {
    font-family: 'Space Mono', monospace;
    background-color: transparent;
    float:left;
    margin-bottom: 100px;
    text-align: left;
    width: 5%
}

.year-text  {
    color: #545454;
    font-family: covik-sans, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    line-height: 0px;
    padding-top: 30px;
}

.column {
    background-color: transparent;
    float:left;
    margin-bottom: 60px;
    text-align: center;
    width: 22.5%
}

.article-header-column {
    background-color:transparent;
    float:left;
    margin-bottom: 60px;
    text-align: left;
    width: 50%;
}

.row:after  {
    content: "";
    display: table;
    clear:both;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}



@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * bodoni-urw:
 *   - http://typekit.com/eulas/000000000000000000017945
 * covik-sans:
 *   - http://typekit.com/eulas/00000000000000003b9b349a
 *   - http://typekit.com/eulas/00000000000000003b9b349b
 *   - http://typekit.com/eulas/00000000000000003b9b349d
 *   - http://typekit.com/eulas/00000000000000003b9b349f
 * ltc-bodoni-175:
 *   - http://typekit.com/eulas/000000000000000000010b17
 *   - http://typekit.com/eulas/00000000000000003b9b21dc
 * monotalic:
 *   - http://typekit.com/eulas/00000000000000003b9b2fb1
 * poppins:
 *   - http://typekit.com/eulas/00000000000000003b9b1375
 *   - http://typekit.com/eulas/00000000000000003b9b137a
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-12-08 06:21:08 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=tym5kry&ht=tk&f=5630.5631.11266.37513.37518.41816.42648.42649.42651.42653&a=38941712&app=typekit&e=css");

@font-face {
font-family:"ltc-bodoni-175";
src:url("https://use.typekit.net/af/3c382e/000000000000000000010b17/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/3c382e/000000000000000000010b17/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/3c382e/000000000000000000010b17/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"ltc-bodoni-175";
src:url("https://use.typekit.net/af/a8a439/00000000000000003b9b21dc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a8a439/00000000000000003b9b21dc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a8a439/00000000000000003b9b21dc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"bodoni-urw";
src:url("https://use.typekit.net/af/06fe60/000000000000000000017945/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"),url("https://use.typekit.net/af/06fe60/000000000000000000017945/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"),url("https://use.typekit.net/af/06fe60/000000000000000000017945/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:800;
}

@font-face {
font-family:"poppins";
src:url("https://use.typekit.net/af/454d83/00000000000000003b9b1375/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/454d83/00000000000000003b9b1375/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/454d83/00000000000000003b9b1375/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"poppins";
src:url("https://use.typekit.net/af/a9ab21/00000000000000003b9b137a/27/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/a9ab21/00000000000000003b9b137a/27/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/a9ab21/00000000000000003b9b137a/27/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"monotalic";
src:url("https://use.typekit.net/af/2bcc42/00000000000000003b9b2fb1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/2bcc42/00000000000000003b9b2fb1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/2bcc42/00000000000000003b9b2fb1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"covik-sans";
src:url("https://use.typekit.net/af/563875/00000000000000003b9b349a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/563875/00000000000000003b9b349a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/563875/00000000000000003b9b349a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"covik-sans";
src:url("https://use.typekit.net/af/573718/00000000000000003b9b349b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/573718/00000000000000003b9b349b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/573718/00000000000000003b9b349b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"covik-sans";
src:url("https://use.typekit.net/af/33b17f/00000000000000003b9b349d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/33b17f/00000000000000003b9b349d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/33b17f/00000000000000003b9b349d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"covik-sans";
src:url("https://use.typekit.net/af/c64e73/00000000000000003b9b349f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c64e73/00000000000000003b9b349f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c64e73/00000000000000003b9b349f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

.tk-ltc-bodoni-175 { font-family: "ltc-bodoni-175",serif; }
.tk-bodoni-urw { font-family: "bodoni-urw",serif; }
.tk-poppins { font-family: "poppins",sans-serif; }
.tk-monotalic { font-family: "monotalic",sans-serif; }
.tk-covik-sans { font-family: "covik-sans",sans-serif; }

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}